  <!-- Begin page content -->
  <main role="main" class="container">
    <h1 class="mt-5">PWA test</h1>
    <p class="lead">This is a very simple Progressive Web App show two tables.</p>
    <p class="lead">The <a routerLink="/one">Todo list </a> is a traditional API request and will only work with internet connection.</p>
    <p class="lead">The <a routerLink="/two">Post list </a> is a cached API request, it will return data from cache and update when connetion is available.</p>
    <router-outlet></router-outlet>
  </main> 
  <app-footer></app-footer>