<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts | slice:page*10-10:page*10-1">
        <th scope="row">{{post.id}}</th>
        <td>{{post.userID}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
    </tbody>
  </table>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="100" [(page)]="page" aria-label="Default pagination"></ngb-pagination>